# Ігнорувати всі файли з розширенням .log
*.log

# Ігнорувати файли конфігурації редактора
*.vscode/
*.sublime-project
*.sublime-workspace

# Ігнорувати всі тимчасові файли
*.tmp
*.temp
*.bak

# Ігнорувати системні файли Windows і macOS
.DS_Store
Thumbs.db

# Ігнорувати бінарні файли
*.exe
*.dll

# Ігнорувати локальні бази даних SQLite
*.sqlite3